<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Picture url:</b>
  <%= @picture.picture_url %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
